        .container-catalog {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 20px auto;
            padding: 20px;
            background-color: #000000;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .item {
            display: flex;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid #eee;
        }

        .item:last-child {
            border-bottom: none;
        }

        .cover {
            width: 100px;
            height: 80px;
            margin-right: 20px;
            border-radius: 5px;
        }

        .info {
            flex-grow: 1;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            text-decoration: none;
            color: #e91e63;
        }

        .title:hover {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            text-decoration: none;
            color: #80002a;
        }
        .artist {
            color: #777;
            text-decoration: none;
        }
        .artist:hover {
            color: #999;
            text-decoration: none;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .heart {
            margin-right: 20px;
            color: #999;
            font-size: 20px;
            cursor: pointer;
        }

        .time {
            font-size: 16px;
            color: #777;
        }

.audio-container {
    background-color: #000000; /* Темный фон для контейнера */
    border-radius: 0px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

audio {
    width: 97%;
    outline: none; /* Убираем обводку */
}

audio::-webkit-media-controls-panel {
    background-color: #1B1116; /* Фон панели управления */
}

audio::-webkit-media-controls-play-button {
    background-color: #ff4081; /* Цвет кнопки воспроизведения */
    border-radius: 50%;
}

audio::-webkit-media-controls-volume-slider {
    background-color: #ff4081; /* Цвет ползунка громкости */
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #ffffff; /* Цвет времени */
}

audio::-webkit-media-controls-mute-button {
    background-color: #ff4081; /* Цвет кнопки отключения звука */
}

.loop-button {
    display: flex;
    margin-top: 30px;
    margin-right:20px;

    padding: 8px;
    background-color: rgb(233, 30, 99); /* Цвет кнопки */
    color: #ffffff; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loop-button:hover {
    background-color: #e91e63; /* Цвет кнопки при наведении */
}

.h_container{
    margin-top: 30px;
    background-color: #cac7c7;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display: inline-block;
    width:41px;
    height:41px;
    text-align:center;
    line-height:45px;
}
#heart{
    font-size: 25px;
}


#heart-liked{
color:red;
    font-size: 25px;
}


.PlayerPanel {
    left:0px;
    background-color:#000000;
    width:100%;
    height:100px;
    bottom:0px;
    position:fixed;
    z-index: 10;
    border: 1px solid #e91e63;
}

.AudioPlayer{
margin-left: 20px;
margin-right: 20px;
}
