body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #ffffff;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a, u {
  text-decoration: none;
}

